# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Bootstrapped files
dtocean_app/designer/high/*.py
dtocean_app/designer/low/*.py
!dtocean_app/designer/high/__init__.py
!dtocean_app/designer/low/__init__.py
