# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Bootstrapped files
dtocean_app/designer/*.py
!dtocean_app/designer/__init__.py
