# REQUIREMENTS FOR CONDA INSTALLATION

# INSTALLATION REQUIRED DEPENDENCIES
dtocean-core ==1.1.dev11
matplotlib <2
numpy
pandas >=0.18
dtocean-qt >=0.10.dev0
pil
polite >=0.10.dev1
pyqt <5

# TEST DEPENDENCIES
pytest-cov
pytest-mock
pytest-qt
