# REQUIREMENTS FOR CONDA INSTALLATION

# INSTALLATION REQUIRED DEPENDENCIES
dtocean-core >=1.0
matplotlib
numpy
pandas >=0.18
dtocean-qt >=0.9
pil
polite >=0.9
pyqt =4.11.4

# TEST DEPENDENCIES
pytest-cov
